body {
  background-color: lavender;

  font-family: "High Tower Text";
}
h1, h2, h3, h4, h5, h6 {
  color: darkslateblue;
}
h1 {text-align: center;}

p {
  color: darkslateblue;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  border: 5px solid #483d8a;
}

button {
  background-color: antiquewhite;
}

button:hover {
  background-color: cornflowerblue;
}
